.button { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0;
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    background-color: #ccc;
}

.button:hover,
.button:focus {
    background-color: black;
    color: white;
}

.label {
    margin-right: 20px;
    
}