.form {
  font-size: 22px;
}


.input {
  width: 80%;
  height: 24px;
  background-color: #eee;
  border: none;
}

.input:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  color: black;
  border: none;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid silver;
}

.button:hover,
.button:focus {
  background-color: white;
}