.listItem {
    display: flex;
    list-style: none;
    padding: 12px;
    justify-content: space-between;
    padding: 20px 12px;
}

.listItem:nth-child(odd) {
    background-color: white;

}


.button {
    color: black;
    border: none;
    font-size: 18px;
    padding: 6px;
    border: 1px solid silver;
}

.button:hover,
.button:focus {
    background-color: white;
}